{{ log_path }} {
    daily
    dateext
    dateformat -%Y%m%d
    rotate 14
    compress
    notifempty
    missingok
    create 0640 squid squid
    sharedscripts
    postrotate
    /bin/kill -USR1 `cat {{ nginx_path }}/logs/nginx.pid  2>/dev/null` 2>/dev/null || true
    endscript
}
