su squid squid
{{ access_log_path }}
{{ cache_log_path }}
{{ access_tianji_blacklist_log_path }}{
##    daily
    dateext
    dateformat -%Y%m%d
    rotate 7
    compress
    copytruncate   #使用复制截断
    missingok
    ifempty
    nodelaycompress
    postrotate
        /opt/squid/sbin/squid -k reconfigure >/dev/null 2>&1 || true
    endscript
}
