{{ access_log_path }}
{{ cache_log_path }}
{{ access_tianji_blacklist_log_path }} {
    su squid squid
    daily
    dateext
    dateformat -%Y%m%d
    rotate 7
    compress
    copytruncate
    missingok
    ifempty
    nodelaycompress
}