# Allows logreader user to sudo cmd list without password
Cmnd_Alias LOGREADER_SUDO_CMD = /usr/bin/systemctl * nginx, \
                                /usr/bin/systemctl * squid, \
                                /usr/bin/systemctl * redis, \
                                /usr/bin/systemctl * php-fpm, \
                                /usr/bin/systemctl * laravel-queue, \
                                /usr/bin/systemctl * node_exporter, \
                                /usr/bin/journalctl *, \
                                /usr/bin/cp /opt/logrotate/etc/squid /root/logrotate-squid, \
                                /usr/sbin/logrotate *, \
                                /opt/squid/sbin/squid -k reconfigure, \
                                /usr/bin/php * \
                                /usr/bin/cp -f /opt/redis_bak/dump.rdb_release* /opt/redis/dump.rdb, \
                                /usr/bin/rm -f /opt/redis/dump.rdb, \
								/usr/bin/chown -R redis.redis /opt/redis/dump.rdb

logreader ALL=(root) NOPASSWD: LOGREADER_SUDO_CMD
logreader ALL=(nginx) NOPASSWD: ALL
logreader ALL=(redis) NOPASSWD: ALL

# Allows nginx user to sudo cmd list without password
Defaults:nginx !requiretty

Cmnd_Alias NGINX_SUDO_CMD = /usr/bin/python3 /opt/py_prod/squid_ldap_modify.py, \
                            /usr/bin/python3 /opt/py_prod/squid_kerberos_modify.py, \
                            /opt/squid/sbin/squid -k reconfigure, \
                            /opt/squid/sbin/squid -k reconfigure *
nginx ALL=(root) NOPASSWD: NGINX_SUDO_CMD