---
- name: 对所有主机进行 Ping 检测
  hosts: opp_prod     # 作用于 hosts.ini 中定义的所有主机
  gather_facts: no    # 关闭事实收集以提高执行速度
  
  tasks:
    - name: 测试连接状态
      ping:

  tasks:
    - name: 向 /etc/hosts 追加主机名解析
      blockinfile:
        path: /etc/hosts
        block: |
          160.88.114.70 corprodc02.corp.ha.org.hk
          160.98.39.18 corprodc03.corp.ha.org.hk
        marker: "#### {mark} ADDED BY OPP ####" # 自定义标记格式
        state: present