---
- name: install app
  hosts: opp_prod
  gather_facts: no
  tasks:
    - name: ping
      ping:
      tags: ping_hosts
    - name: hosts record
      blockinfile:
        path: /etc/hosts
        block: |
          160.88.114.70 corprodc02.corp.ha.org.hk
          160.98.39.18 corprodc03.corp.ha.org.hk
        marker: "#### {mark} ADDED BY OPP INSTALLATION ####"
        state: present
      tags: setup_hosts
    - name: dnf
      dnf:
        name:
          - gcc
          - make
          - openssl
          - openssl-devel
          - zlib
          - zlib-devel
          - perl-devel
          - perl-ExtUtils-Embed
          - net-tools
          - vim
          - wget
          - lrzsz
          - openldap-clients
          - openldap-devel
          - realmd
          - sssd
          - sssd-ldap
          - oddjob-mkhomedir
          - oddjob
          - samba-common-tools
          - sssd-tools
          - chrony
          - krb5-libs
          - krb5-workstation
          - krb5-devel
          - libecap
          - libecap-devel
          - gnutls-devel
          - pam-devel
          - libtdb-devel
          - libxml2-devel
        state: present
        tags: install_dnf_package