---
- name: install app
  hosts: opp_prod
  gather_facts: no
  vars:
    software_src_path: "/fsbackup/software"
    software_dest_path: "/fsbackup/software"
  tasks:
    - name: ping
      ping:
      tags: ping_hosts
    - name: hosts record
      blockinfile:
        path: /etc/hosts
        block: |
          160.88.114.70 corprodc02.corp.ha.org.hk
          160.98.39.18 corprodc03.corp.ha.org.hk
        marker: "#### {mark} ADDED BY OPP INSTALLATION ####"
        backup: yes
        state: present
      register: hosts_result
      tags: setup_hosts
    - name: dnf
      dnf:
        name:
          - gcc
          - make
          - openssl
          - openssl-devel
          - zlib
          - zlib-devel
          - perl-devel
          - perl-ExtUtils-Embed
          - net-tools
          - vim
          - wget
          - lrzsz
          - openldap-clients
          - openldap-devel
          - realmd
          - sssd
          - sssd-ldap
          - oddjob-mkhomedir
          - oddjob
          - samba-common-tools
          - sssd-tools
          - chrony
          - krb5-libs
          - krb5-workstation
          - krb5-devel
          - libecap
          - libecap-devel
          - gnutls-devel
          - pam-devel
          - libtdb-devel
          - libxml2-devel
        state: present
      tags: install_dnf_package
    - name: add squid account
      ansible.builtin.user:
        name: squid
        shell: /sbin/nologin
        system: yes
        state: present
      tags: add_squid_user
    - name: create software dir
      ansible.builtin.file:
        path: {{ software_src_path }}
        state: directory
      tags: create_software_dir
    - name: copy squid-6.11.tar.gz
      ansible.builtin.copy:
        src: "{{ software_src_path }}"/squid-6.11.tar.gz
        dest: "{{ software_dest_path }}"/squid-6.11.tar.gz
      tags: copy_squid