---
- name: install app
  hosts: opp_prod
  gather_facts: no
  vars:
    software_src_path: "/fsbackup/software"
    software_dest_path: "/fsbackup/software"
  tasks:
    - name: ping
      ping:
      tags: ping_hosts
    - name: hosts record
      blockinfile:
        path: /etc/hosts
        block: |
          160.88.114.70 corprodc02.corp.ha.org.hk
          160.98.39.18 corprodc03.corp.ha.org.hk
        marker: "#### {mark} ADDED BY OPP INSTALLATION ####"
        backup: yes
        state: present
      tags: setup_hosts
    - name: dnf
      dnf:
        name:
          - gcc
          - make
          - openssl
          - openssl-devel
          - zlib
          - zlib-devel
          - perl-devel
          - perl-ExtUtils-Embed
          - net-tools
          - vim
          - wget
          - lrzsz
          - openldap-clients
          - openldap-devel
          - realmd
          - sssd
          - sssd-ldap
          - oddjob-mkhomedir
          - oddjob
          - samba-common-tools
          - sssd-tools
          - chrony
          - krb5-libs
          - krb5-workstation
          - krb5-devel
          - libecap
          - libecap-devel
          - gnutls-devel
          - pam-devel
          - libtdb-devel
          - libxml2-devel
        state: present
      tags: install_dnf_package
    - name: add squid account
      ansible.builtin.user:
        name: squid
        shell: /sbin/nologin
        system: yes
        state: present
      tags: add_squid_user
    - name: create software dir
      ansible.builtin.file:
        path: "{{ software_src_path }}"
        state: directory
      tags: create_software_dir
    - name: copy squid-6.11.tar.gz
      ansible.builtin.copy:
        src: "{{ software_src_path }}/squid-6.11.tar.gz"
        dest: "{{ software_dest_path }}/squid-6.11.tar.gz"
      tags: copy_squid
    - name: squid-unarchive
      unarchive:
        src: "{{ software_dest_path }}/squid-6.11.tar.gz"
        dest: "{{ software_dest_path }}"
        remote_src: yes
    - name: squid-configure
      shell: |
        ./configure --prefix=/opt/squid \
            --bindir=/opt/squid/bin \
            --sbindir=/opt/squid/sbin \
            --sysconfdir=/opt/squid/etc \
            --datadir=/opt/squid/share \
            --includedir=/opt/squid/include \
            --libdir=/opt/squid/lib \
            --libexecdir=/opt/squid/libexec \
            --localstatedir=/opt/squid/var \
            --sharedstatedir=/opt/squid/lib \
            --mandir=/opt/squid/share/man \
            --infodir=/opt/squid/share/info \
            --with-logdir=/opt/squid/var/log \
            --with-pidfile=/opt/squid/var/run/squid.pid \
            --enable-ssl \
            --with-openssl=/usr \
            --enable-auth \
            --enable-auth-basic=DB,fake,getpwnam,LDAP,NCSA,PAM,POP3,RADIUS,SASL,SMB,SMB_LM \
            --enable-auth-ntlm=SMB_LM,fake \
            --enable-auth-digest=file,LDAP \
            --enable-auth-negotiate=kerberos \
            --enable-external-acl helpers=LDAP_group,time_quota,session,unix_group,wbinfo_group,kerberos_ldap_group \
            --enable-storeid-rewrite-helpers=file \
            --enable-cache-digests \
            --enable-cachemgr-hostname=localhost \
            --enable-delay-pools \
            --enable-epoll \
            --enable-icap-client \
            --enable-ident-lookups \
            --enable-linux-netfilter \
            --enable-removal-policies=heap,lru \
            --enable-snmp \
            --enable-ssl-crtd \
            --enable-storeio=aufs,diskd,ufs,rock \
            --enable-diskio \
            --enable-wccpv2 \
            --enable-esi \
            --enable-ecap \
            --with-aio \
            --with-default-user=squid \
            --enable-async-io \
            --with-dl \
            --with-pthreads \
            --with-swapdir=/opt/squid/var/spool/squid
      args:
        chdir: "{{ software_dest_path }}/squid-6.11"
        creates: /opt/squid
    - name: squid-compile
      shell: make && make install
      args:
        chdir: "{{ software_dest_path }}/squid-6.11"
        creates: /opt/squid
    - name: squid-config-init
      blockinfile:
        path: /opt/squid/etc/squid.conf
        block: |
          cache_effective_user squid
          cache_effective_group squid
          cache_dir rock /opt/squid/var/spool/squid 10240 swap-timeout=300
          coredump_dir /opt/squid/var/coredumps
        marker: "#### {mark} ADDED BY OPP INSTALLATION ####"
        backup: yes
        state: present
      tags: squid_config_init
    - name: squid coredumps
      ansible.builtin.file:
        path: /opt/squid/var/coredumps
        state: directory
        owner: squid
        group: squid
      tags: squid_coredumps_create
    - name: squid dir owner
      ansible.builtin.file:
        path: /opt/squid
        state: directory
        owner: squid
        group: squid
        recurse: yes
      tags: squid_dir_owner
    - name: squid cache dir init
      ansible.builtin.command: /opt/squid/sbin/squid -z
      args:
        creates: /opt/squid/var/spool/squidrock
      tags: squid_cache_dir_init
    - name: squid service create
      ansible.builtin.copy:
        dest: /etc/systemd/system/squid.service
        owner: root
        group: root
        mode: '0644'
        content: |          
          [Unit]
          Description=Squid Web Proxy Cache
          After=network.target
          
          [Service]
          Type=forking
          User=root
          ExecStart=/opt/squid/sbin/squid -f /opt/squid/etc/squid.conf
          ExecReload=/opt/squid/sbin/squid -k reconfigure -f /opt/squid/etc/squid.conf
          ExecStop=/opt/squid/sbin/squid -k shutdown -f /opt/squid/etc/squid.conf
          PIDFile=/opt/squid/var/run/squid.pid
          LimitNOFILE=1048576
          LimitNPROC=1048576
          LimitCORE=infinity
          
          [Install]
          WantedBy=multi-user.target
          EOF
      notify: reload systemd
      tags: squid_service_create
    - name: squid service start
      ansible.builtin.systemd:
        name: squid
        state: started
        enabled: yes
      tags: squid_service_start
  handlers:
      - name: reload systemd
        ansible.builtin.systemd:
          daemon_reload: yes