---
- name: upgrade opp
  hosts: opp_prod
  gather_facts: no
  vars_files:
    - vars/app_vars.yml
  tasks:
    - name: create redis_bak dir
      become: yes
      ansible.builtin.file:
        path: /opt/redis_bak
        state: directory
        owner: redis
        group: redis
        mode: '0755'
      tags: create_redis_bak_dir
    - name: create var log redis dir
      ansible.builtin.file:
        path: /var/log/redis
        state: directory
        owner: redis
        group: redis
      tags: create_var_log_redis_dir
    - name: local redis save
      ansible.builtin.shell: redis-cli -h 127.0.0.1 -p 6379 SAVE
      delegate_to: localhost
      run_once: true
      tags: local_redis_save
    - name: copy redis data
      ansible.builtin.copy:
        src: /opt/redis/dump.rdb
        dest: /opt/redis/dump.rdb
      tags: copy_redis_data
    - name: redis service restart
      ansible.builtin.systemd:
        name: redis
        state: restarted
        enabled: yes
      tags: redis_service_restart
    - name: sync nginx dist
      ansible.posix.synchronize:
        src: /opt/nginx/html/dist
        dest: /opt/nginx/html/
      tags: sync_nginx_dist
    - name: sync nginx threat
      ansible.posix.synchronize:
        src: /opt/nginx/html/threat
        dest: /opt/nginx/html/
      tags: sync_nginx_threat
    - name: sync nginx transproxy_admin
      ansible.posix.synchronize:
        src: /opt/nginx/html/transproxy_admin
        dest: /opt/nginx/html/
      tags: sync_nginx_transproxy_admin
    - name: create fileData_bak dir
      become: yes
      ansible.builtin.file:
        path: /opt/fileData_bak
        state: directory
        owner: nginx
        group: nginx
        mode: '0755'
      tags: create_filedata_bak_dir
    - name: edit transproxy env
      ansible.builtin.replace:
        path: /opt/nginx/html/transproxy_admin/.env
        regexp: 'poxappprd52a'
        replace: '{{ custom_hostname }}'
      tags: edit_transproxy_env
    - name: laravel-queue service create
      ansible.builtin.copy:
        dest: /etc/systemd/system/laravel-queue.service
        owner: root
        group: root
        mode: '0644'
        content: |
          [Unit]
          Description=Laravel Queue Worker
          After=network.target redis.service  # 若依赖 Redis，需指定

          [Service]
          User=nginx
          Group=nginx
          WorkingDirectory=/opt/nginx/html/transproxy_admin
          ExecStart=/usr/bin/php -d memory_limit=512M artisan queue:work \
                              --tries=3 \
                              --timeout=120
          
          Restart=always
          RestartSec=5
          MemoryLimit=1G
          
          # 环境变量（重要！）
          #Environment="REDIS_HOST=127.0.0.1"
          #Environment="DB_HOST=127.0.0.1"
          #Environment="APP_ENV=production"
          
          [Install]
          WantedBy=multi-user.target
      notify: reload systemd
      tags: laravel_queue_service_create
    - name: laravel_queue service start
      ansible.builtin.systemd:
        name: laravel-queue
        state: started
        enabled: yes
      tags: laravel_queue_service_start
    - name: sync nginx conf
      ansible.posix.synchronize:
        src: /opt/nginx/conf
        dest: /opt/nginx/
      tags: sync_nginx_conf
    - name: edit poxmgtprd nginx conf
      ansible.builtin.replace:
        path: /opt/nginx/conf/conf.d/poxmgtprd.server.ha.org.hk.conf
        regexp: 'poxappprd52a'
        replace: '{{ custom_hostname }}'
      tags: edit_poxmgtprd_nginx_conf
    - name: edit transproxy nginx conf
      ansible.builtin.replace:
        path: /opt/nginx/conf/conf.d/transproxy.swd.ha.org.hk.conf
        regexp: 'poxappprd52a'
        replace: '{{ custom_hostname }}'
      tags: edit_transproxy_nginx_conf
    - name: create nginx cache dir
      ansible.builtin.file:
        path: /opt/nginx/nginx_cache/proxy_temp
        state: directory
      tags: create_nginx_cache_dir
    - name: set nginx user group
      ansible.builtin.file:
        path: /opt/nginx
        state: directory
        owner: nginx
        group: www-group
        recurse: yes
      tags: set_nginx_user_group
    - name: nginx service start 2
      ansible.builtin.systemd:
        name: nginx
        state: started
        enabled: yes
      tags: nginx_service_start_2
    - name: add squid to www-group
      ansible.builtin.user:
        name: squid
        groups: www-group
        append: yes
      tags: add_squid_www_group
    - name: create squid error dir
      ansible.builtin.file:
        path: /opt/squid/share/errors/en
        state: directory
        owner: squid
        group: squid
      tags: create_squid_error_dir
    - name: sync squid etc
      ansible.posix.synchronize:
        src: /opt/squid/etc
        dest: /opt/squid/
      tags: sync_squid_etc
    - name: chmod ldap_password
      ansible.builtin.file:
        path: /opt/squid/etc/ldap_password
        mode: '0600'
      tags: chmod_ldap_password
    - name: chmod opp.keytab
      ansible.builtin.file:
        path: /opt/squid/etc/opp.keytab
        mode: '0600'
      tags: chmod_opp_keytab
    - name: sync squid errors
      ansible.posix.synchronize:
        src: /opt/squid/share/errors/en
        dest: /opt/squid/share/errors
      tags: sync_squid_errors
    - name: sync squid_shell
      ansible.posix.synchronize:
        src: /opt/squid_shell
        dest: /opt/
      tags: sync_squid_shell
    - name: sync py_prod
      ansible.posix.synchronize:
        src: /opt/py_prod
        dest: /opt/
      tags: sync_py_prod
    - name: edit ftp_accesslog
      ansible.builtin.replace:
        path: /opt/squid_shell/ftp_accesslog.sh
        regexp: 'REMOTE_DIR="/logs/FTP/INET_Proxy/poxappprd52a"'
        replace: 'REMOTE_DIR="/logs/FTP/INET_Proxy/{{ custom_hostname }}"'
      tags: edit_ftp_accesslog
    - name: squid parse
      shell: /opt/squid/sbin/squid -k parse -f /opt/squid/etc/squid.conf
      tags: squid_parse
    - name: squid service restart
      ansible.builtin.systemd:
        name: squid
        state: restarted
        enabled: yes
      tags: squid_service_restart
    - name: check squid status
      shell: systemctl status squid
      register: squid_status
      ignore_errors: yes
      tags: check_squid_status
    - name: output squid status
      debug:
        var: squid_status.stdout_lines
      tags: output_squid_status
    - name: copy rsyslog oproxy
      become: yes
      ansible.builtin.copy:
        src: /etc/rsyslog.d/oproxy_log.conf
        dest: /etc/rsyslog.d/oproxy_log.conf
      tags: copy_rsyslog_oproxy
    - name: edit rsyslog oproxy
      become: yes
      ansible.builtin.replace:
        path: /etc/rsyslog.d/oproxy_log.conf
        regexp: 'poxappprd52a'
        replace: '{{ custom_hostname }}'
      tags: edit_rsyslog_oproxy
    - name: rsyslog service restart
      ansible.builtin.systemd:
        name: rsyslog
        state: restarted
        enabled: yes
      tags: rsyslog_service_restart
    - name: delete stats json
      become: yes
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - /opt/nginx/html/transproxy_admin/system_usage.json
        - /opt/nginx/html/transproxy_admin/public/fileData/threat/netstat_status.json
        - /opt/nginx/html/transproxy_admin/public/fileData/threat/blacklist_summary.json
        - /opt/nginx/html/transproxy_admin/public/fileData/threat/week_top_ip_10.json
        - /opt/nginx/html/transproxy_admin/public/fileData/threat/week_top_url_10.json
        - /opt/nginx/html/transproxy_admin/public/fileData/threat/logstatus_7days.json
        - /tmp/usage.json.tmp
      tags: delete_stats_json
    - name: copy logrotate squid
      ansible.builtin.copy:
        src: /etc/logrotate.d/squid
        dest: /etc/logrotate.d/squid
      tags: copy_logrotate_squid
    - name: copy logrotate nginx
      ansible.builtin.copy:
        src: /etc/logrotate.d/nginx
        dest: /etc/logrotate.d/nginx
      tags: copy_logrotate_nginx
    - name: copy logrotate python_prod_logs
      ansible.builtin.copy:
        src: /etc/logrotate.d/python_prod_logs
        dest: /etc/logrotate.d/python_prod_logs
      tags: copy_logrotate_python_prod_logs
    - name: create account logreader
      ansible.builtin.user:
        name: logreader
        state: present
        shell: /bin/bash
        create_home: yes
        groups: squid,www-group
        append: yes
        password: "{{ 'logreader_password' | password_hash('sha512') }}"
      tags: create_account_logreader
    - name: set logreader key
      become: yes
      ansible.builtin.authorized_key:
        user: logreader
        state: present
        key: "{{ lookup('file', '~logreader/.ssh/id_rsa.pub') }}"
      tags: set_logreader_key
    - name: create opp sudoer
      become: yes
      ansible.builtin.template:
        src: templates/sudoer-opp.j2
        dest: /etc/sudoers.d/opp
        owner: root
        group: root
        mode: '0440'
        validate: '/usr/sbin/visudo -cf %s'
      tags: create_opp_sudoer
    - name: chown squid_shell
      become: yes
      ansible.builtin.file:
        path: /opt/squid_shell
        state: directory
        owner: logreader
        group: logreader
        mode: '0755'
        recurse: yes
      tags: chown_squid_shell
    - name: create logrotate dir
      become: yes
      ansible.builtin.file:
        path: /opt/logrotate
        state: directory
        owner: logreader
        group: logreader
        mode: '0755'
      tags: create_logrotate_dir
    - name: create logrotate config
      become: yes
      become_user: logreader
      block:
        - name: logrotate sub dir
          ansible.builtin.file:
            path: "/opt/logrotate/{{ item }}"
            state: directory
          loop:
            - "etc"
            - "status"
        - name: logrotate config squid
          ansible.builtin.template:
            src: templates/logrotate_config_squid.j2
            dest: /opt/logrotate/etc/squid
          vars:
            access_log_path: "/opt/squid/var/log/access.log"
            cache_log_path: "/opt/squid/var/log/cache.log"
            access_tianji_blacklist_log_path: "/opt/squid/var/log/access-tianji-blacklist.log"
            squid_path: "/opt/squid"
        - name: logrotate config nginx
          ansible.builtin.template:
            src: templates/logrotate_config_nginx.j2
            dest: /opt/logrotate/etc/nginx
          vars:
            log_path: "/opt/nginx/logs/*.log"
            nginx_path: "/opt/nginx"
        - name: logrotate config python_prod_logs
          ansible.builtin.template:
            src: templates/logrotate_config_python_prod_logs.j2
            dest: /opt/logrotate/etc/python_prod_logs
          vars:
            log_path: "/opt/py_prod/log/*.log"
      tags: create_logrotate_config
    - name: create opp-crontab dir
      become: yes
      ansible.builtin.file:
        path: /opt/crontab
        state: directory
        owner: logreader
        group: logreader
        mode: '0755'
      tags: create_opp_crontab_dir
    - name: opp-crontab config
      become: yes
      become_user: logreader
      block:
        - name: create opp-crontab
          ansible.builtin.template:
            src: templates/opp-crontab.j2
            dest: /opt/crontab/opp-crontab
        - name: run opp-crontab
          ansible.builtin.shell:
            cmd: "crontab /opt/crontab/opp-crontab"
      tags: opp_crontab_config
    - name: chmod crontab file attribute
      become: yes
      file:
        path: "{{ item }}"
        mode: "g+w"
      loop:
        - /opt/squid/var/log
        - /opt/squid/var/log/cache.log
        - /opt/nginx/html/transproxy_admin
        - /opt/nginx/html/transproxy_admin/storage/logs
        #- /opt/nginx/html/transproxy_admin/storage/temp
        - /opt/nginx/html/transproxy_admin/public/fileData/threat
        - /opt/nginx/html/threat/archive
      tags: chmod_crontab_file_attribute
    - name: download node_exporter-1.8.2.linux-amd64.tar.gz
      get_url:
        url: https://github.com/prometheus/node_exporter/releases/download/v1.8.2/node_exporter-1.8.2.linux-amd64.tar.gz
        dest: "{{ software_src_path }}/node_exporter-1.8.2.linux-amd64.tar.gz"
      delegate_to: localhost
      run_once: true
      tags: download_node_exporter_1_8_2
    - name: copy node_exporter
      ansible.builtin.copy:
        src: "{{ software_src_path }}/node_exporter-1.8.2.linux-amd64.tar.gz"
        dest: "{{ software_dest_path }}/node_exporter-1.8.2.linux-amd64.tar.gz"
      tags: copy_node_exporter
    - name: node exporter unarchive
      unarchive:
        src: "{{ software_dest_path }}/node_exporter-1.8.2.linux-amd64.tar.gz"
        dest: "{{ software_dest_path }}"
        remote_src: yes
      tags: node_exporter_unarchive
    - name: create node_exporter dir
      ansible.builtin.file:
        path: /usr/local/node_exporter
        state: directory
      tags: create_node_exporter_dir
    - name: copy node_exporter
      ansible.builtin.copy:
        src: "{{ software_dest_path }}/node_exporter-1.8.2.linux-amd64/node_exporter"
        dest: /usr/local/node_exporter/node_exporter
        remote_src: yes
        owner: root
        group: root
        mode: '0755'
      tags: copy_node_exporter
    - name: node_exporter service create
      ansible.builtin.copy:
        dest: /etc/systemd/system/node_exporter.service
        owner: root
        group: root
        mode: '0644'
        content: |
          [Unit]
          Description=node_exporter
          Documentation=https://github.com/prometheus/node_exporter
          After=network.target
          
          [Service]
          Type=simple
          User=root
          ExecStart=/usr/local/node_exporter/node_exporter --web.listen-address=:9100
          Restart=on-failure
          
          [Install]
          WantedBy=multi-user.target
      notify: reload systemd
      tags: node_exporter_service_create
    - name: node_exporter service start
      ansible.builtin.systemd:
        name: node_exporter
        state: started
        enabled: yes
      tags: node_exporter_service_start
    - name: check node_exporter status
      shell: systemctl status node_exporter
      register: node_exporter_status
      ignore_errors: yes
      tags: check_node_exporter_status
    - name: output node_exporter status
      debug:
        var: node_exporter_status.stdout_lines
      tags: output_node_exporter_status
    - name: check node_exporter status
      shell: curl http://127.0.0.1:9100/metrics
      tags: check_node_exporter_status